{% extends "base.html" %}

{% block title %}404 - Page Not Found{% endblock title %}

{% block sidenav%}
 <li><a href="/">Home</a></li>
{%endblock sidenav %}

{% block content %}
<h1>Aw Crap!</h1>
<p> Not sure where you were going there, want to try again? </p>
<p>Thanks!</p>
{% endblock content %}